{% extends 'base.html' %}

{% block body %}
<h1>Member Page</h1>

<p><strong>Name: </strong> {{ current_user.username }}</p>
<p><strong>Email: </strong> {{ current_user.email }}</p>
<p><strong>Member type: </strong> {{ current_user.account_type }}</p>


<a href="{{ url_for("admin.admin_home")}}">Admin page</a>

<table class="table">
    <tr>
        <th>
            Game ID
        </th>
        <th>
            Round
        </th>
        <th>
            Play Next Round
        </th>
    </tr>
    <tr>
        <td>
            {{ current_turn_info.game_id }}
        </td>
        <td>
            {{ current_turn_info.current_round }}
        </td>
        <td>
            <a href="/member/play_next_turn/{{ current_turn_info.id }}" class="btn btn-primary btn-sm" role="button">Play Next Round</a>
        </td>
    </tr>
</table>


{% endblock %}
