{% extends 'base.html' %}

{% block body %}
<h1>Member Page</h1>

<p><strong>Name: </strong> {{ current_user.username }}</p>
<p><strong>Email: </strong> {{ current_user.email }}</p>
<p><strong>Member type: </strong> {{ current_user.account_type }}</p>

{% if current_user.account_type == 'admin' %}
    <p><a href="{{ url_for("admin.admin_home")}}" class="btn btn-primary" role="button">Admin page</a></p>
{% endif %}
{% if current_user.account_type == 'admin' or current_user.account_type == 'organizer' %}
    <p><a href="{{ url_for("member.create_game_form")}}" class="btn btn-primary" role="button">Create Game</a></p>
{% endif %}

<table class="table">
    <tr>
        <th>
            Game ID
        </th>
        <th>
            Game Name
        </th>
        <th>
            Round
        </th>
        <th>
            Play Next Round
        </th>
    </tr>


    <!-- Is this more what you're looking for? -->
    {% for game in user.games %}
        <tr>
            <td>{{ game.id }}</td>
            <td>{{ game.name }}</td>
            <td>current round</td>
            <td>
                <a href="/member/play_next_turn/#" class="btn btn-primary btn-sm" role="button">Play Next Round</a>
            </td>
        </tr>
    {% endfor %}
</table>


{% endblock %}
