{% extends 'base.html' %}

{% block body %}
<h1>Member Page</h1>

<p><strong>Name: </strong> {{ current_user.username }}</p>
<p><strong>Email: </strong> {{ current_user.email }}</p>
<p><strong>Member type: </strong> {{ current_user.account_type }}</p>

{% if current_user.account_type == 'admin' %}
    <p><a href="{{ url_for("admin.admin_home")}}" class="btn btn-primary" role="button">Admin page</a></p>
{% endif %}
{% if current_user.account_type == 'admin' or current_user.account_type == 'organizer' %}
    <p><a href="{{ url_for("member.create_game_form")}}" class="btn btn-primary" role="button">Create Game</a></p>
{% endif %}

<table class="table table-striped table-dark">
    <tr>
        <th>
            Game ID
        </th>
        <th>
            Game Name
        </th>
        <th>
            Round
        </th>
        <th>
            Play Next Round
        </th>
    </tr>


    <!-- Is this more what you're looking for? -->
    {% for game in member_games_info %}
        <tr>
            <td>{{ game.game_id }}</td>
            <td>{{ game.name }}</td>
            {% if game.current_round %}
                <td>{{ game.current_round }}</td>
            {% else %}
                <td><a href="/member/initial_PBEM_turn/{{ game.game_id }}" class="btn btn-primary btn-sm" role="button">Start Game</a></td>
            {% endif %}
            <td>
            {% if game.current_round %}
                <a href="/member/play_next_turn/{{ game.turn_id }}" class="btn btn-primary btn-sm" role="button">Play Next Round</a>
            {% else %}
                <a href="#" class="btn btn-secondary btn-sm" role="button">Waiting for Opponents</a>
            {% endif%}
            </td>
        </tr>
    {% endfor %}
</table>

<div class="row">
    <div class="col-6">
        <div class="card text-white bg-secondary p-3" style="max-width: 18rem;">
    <!-- <div class="col-4 col-sm-2"> -->
            <form action="{{ url_for("member.join_game")}}" method="POST">
                <div class="form-group">
                    <label class="mr-2" for="join_game">Join Game:</label>
                    <input type="join_game" name="join_game" class="form-control mr-2" id="join_game" aria-describedby="join_game">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
